.container{
    align-items: center;
    background-color:rgb(85, 74, 74);
}

#top {
    height: 100px;
    text-align:center;
    background-color:darkgreen;
}

#aka-name {
    color: purple;
    text-align: center;
    font-size:30px;
}